<% @items.each do |item| %>
  <div class='panel' style='display: table; min-height: 150px; max-height: 150px; width: 25%; box-sizing: border-box; float: left'>
    <div class='panel-body' style='display: table-row; height: 100%'>
      <%= item.body %>
    </div>
    <div class='panel-footer' style='border: 0; text-align: center; width:100%'>
      <%= link_to "Finished", item_path(item.user_id, item), method: :delete %>
    </div>
  </div>
<% end %>
