<div class='page-nav'>
  <%= link_to "New to-do", new_item_path %>
</div>
<div class='container'>
  <div class='row'>
    <% @items.each do |item| %>
      <div class='col-md-3'>
        <%= item.body %>
      </div>
    <% end %>
  </div>
</div>
