<div class='panel'>
  <div class='page-nav'>
    <%= link_to "New to-do", new_item_path %>
    <div class='user-link pull-right'>
      <%= link_to "My profile", users_show_path %>
    </div>
  </div>
</div>

<% @items.each do |item| %>
  <div class='col-md-3 panel' style="min-height: 80px; max-height: 80px">
    <div class='panel-body'>
      <%= item.body %>
    </div>
  </div>
<% end %>
