<div class="page-nav">
  <%= link_to "Add a reminder", new_item_path %>
</div>

<% @items.each do |item| %>
  <div class='panel box'>
    <div class='panel-header'>
      <h4>Since <%= distance_of_time_in_words(Time.now, item.created_at) %> ago.</h4>
    </div>
    <div class='panel-body box-body'>
      <%= item.body %>
    </div>
    <div class='panel-footer box-footer'>
      <%= link_to "Finished", item_path(item), method: :delete %>
    </div>
  </div>
<% end %>
